:host ::ng-deep .ngx-file-drop__content{
  color:#212529 !important;
  display:block !important;
  height:auto !important;
}
 ::ng-deep .ngx-file-drop__drop-zone{
  border:none !important;
  height:auto !important;
}
